{
    "tabWidth": 4,
    "semicolons": true,
    "singleQuote": true,
    "trailingCommas": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "printWidth": 100
}
